@require "_event"
@require "master"

body
  font-family: 'PT Sans', sans-serif


.p-a-0
  padding: 0px

.nav
  font-family: 'Oswald', sans-serif
  text-transform: uppercase
  font-weight: bold

.nav-item.is-brand
  padding: 0px

.nav-item.is-brand img
  max-height: 50px

.hero
  background: #222 center center no-repeat !important
  background-size: auto 300px !important

.hero h2
  font-family: 'Oswald', sans-serif
  text-transform: uppercase
  font-weight: bold
  color: #27B5D9 !important
